@import '../../variables.scss';

.outerWrapper {
  height: 100vh;

  background-color: $black;

  .wrapper {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    .heading {
      align-self: center;
      font-size: 8rem;
      font-weight: 600;
      color: $white;

      .mask {
        position: relative;
        display: inline-flex;
        overflow: hidden;

        span {
          margin-right: 1.6rem;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      border-top: 2px solid $white;
      align-self: flex-start;

      .linksContainer {
        padding: 0.25rem 0;
        display: flex;
        gap: 2rem;

        a:link,
        a:visited {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
