@import '../../../variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem;
  transition: all 0.2s linear;
  cursor: pointer;

  &:not(:first-child) {
    border-top: 2px solid $black;
  }

  h2,
  p {
    transition: all 0.2s linear;
    color: $black;
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(1rem);
    }

    p {
      transform: translateX(-1rem);
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }
}
